section {
	padding: 15px;
	height: 500px;
	overflow-y: scroll;
}

div.card {
	width: 270px;
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	}


::-webkit-scrollbar { 
    display: none; 
}

span.card-title {
	font-family: "Roboto", sans-serif;
	border-left : 5px solid #ee6e73;
	padding-left: 1rem;
}

p {
	-webkit-font-smoothing: antialiased;
}